h2{color:rgb(57, 18, 18) ;}
strong{color: rgb(57, 18, 18); font-style: italic;}
em.doan1{color: red; font-style: italic;}
em.doan2{color: blue; font-style: italic;}
em.doan3{color: green; font-style: italic;}
h3{color: gray;}